<!doctype html>
<html lang="en">
<head>
{include file="public/_meta" /}
<title>工学部综合系统-论坛</title>
</head>
<body>
{include file="public/_header"/}
<header class="page-header" data-background="/static/is/images/banner/forum.jpg" data-stellar-background-ratio="1.15">
	<div class="container">
		<h1>论坛</h1>
		<p>Forum</p>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a>论坛</a></li>
			<li class="breadcrumb-item active" aria-current="page"><a>F</a></li>
		</ol>
	</div>
</header>
<section class="sales-offices">
	<div class="container">
		<div class="row" id="module_set">



		</div>
	</div>
</section>
{include file="public/_footer" /}
<script src="/assets/js/origin/forum/index.js"></script>
</body>
</html>