
<!DOCTYPE HTML>
<html>
<head>
	{include file="public/_meta" /}
</head>
<body style="background-color:#fff">
<div class="wap-container">
	<div class="panel">
		<div class="panel-body">
			<form class="form form-horizontal" id="form-admin-add">
	            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">自增id</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="id">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">姓名</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="name">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">学号</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="student_id">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">试卷id</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="paper_id">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">答题情况</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="answer">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">分数</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="mark">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">状态</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="status">
		        </div>
	        </div>
            
	            <div class="row clearfix">
					<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
						<input id='commit' class="btn btn-primary radius" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{include file="public/_footer" /}
<script src="/assets/js/admin/generate/ojanswerresult/add.edit.js"></script>
</body>
</html>
