
<!DOCTYPE HTML>
<html>
<head>
	{include file="public/_meta" /}
</head>
<body style="background-color:#fff">
<div class="wap-container">
	<div class="panel">
		<div class="panel-body">
			<form class="form form-horizontal" id="form-admin-add">
	            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">自增id</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="id">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">姓名</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="name">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">学号</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="student_id">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">邮箱</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="email">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">密码</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="password">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">密码盐</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="password_salt">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">所属班级id</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="classes_id">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">论坛是否可评论</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="forum_comment">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">用户类型</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="user_type">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">上次登陆ip</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="last_login_ip">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">上次登陆时间</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="last_login_time">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">创建时间</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="create_time">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">更新时间</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="update_time">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">账号状态</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="status">
		        </div>
	        </div>
            
	            <div class="row clearfix">
					<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
						<input id='commit' class="btn btn-primary radius" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{include file="public/_footer" /}
<script src="/assets/js/admin/generate/isuniteuser/add.edit.js"></script>
</body>
</html>
