<!doctype html>
<html lang="en">
<head>
{include file="public/_meta" /}
<title>工学部综合系统</title>
</head>
<body>
{include file="public/_header"/}
<header class="slider">
	<div class="slider-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide" data-background="/static/is/images/slide/slide01.jpg" data-stellar-background-ratio="1.15">
				<div class="container">
					<h1><span>第二</span>课堂</h1>
					<h2>丰富你的知识</h2>
					<a href="/origin/Index/secondClassIndex">报名！<i class="fas fa-caret-right"></i></a>
					<figure><img src="/static/is/images/stuff/services_icon01.png" alt="Image"></figure>
				</div>
			</div>
			<div class="swiper-slide" data-background="/static/is/images/slide/slide02.jpg" data-stellar-background-ratio="1.15">
				<div class="container">
					<h1><span>综合</span>测评</h1>
					<h2>简化的体验</h2>
					<a href="/origin/Index/synthesizeIndex?type=zong_ce">开始测评！<i class="fas fa-caret-right"></i></a>
					<figure><img src="/static/is/images/stuff/services_icon02.png" alt="Image"></figure>
				</div>
			</div>
			<div class="swiper-slide" data-background="/static/is/images/slide/slide03.jpg" data-stellar-background-ratio="1.15">
				<div class="container">
					<h1><span>时光</span>信箱</h1>
					<h2>写给自己的一封信</h2>
					<a href="/origin/Index/timePostalIndex">写信！<i class="fas fa-caret-right"></i></a>
					<figure><img src="/static/is/images/stuff/services_icon03.png" alt="Image"></figure>
				</div>
			</div>
		</div>

		<div class="inner-elements">
			<div class="container">
				<div class="pagination"></div>
				<div class="button-prev"><i class="icon-arrow-left"></i></div>
				<div class="button-next"><i class="icon-arrow-right"></i></div>
				<div class="social-media">
					<h6>分享</h6>
					<ul>
						<li><a><i class="fab fa-facebook-f"></i></a></li>
						<li><a><i class="fab fa-twitter"></i></a></li>
						<li><a><i class="fab fa-google"></i></a></li>
						<li><a><i class="fab fa-youtube"></i></a></li>
					</ul>
				</div>
			</div>
		</div>

	</div>
</header>

<section class="intro">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<figure>
					<div class="pattern-bg" data-stellar-ratio="1.07"></div>
					<div class="holder" data-stellar-ratio="1.10">
						<img src="/static/is/images/stuff/side_image01.jpg" alt="Image">
					</div>
				</figure>
			</div>
			<div class="col-lg-6 wow fadeInUp">
				<div class="content-box">
					<b>01</b>
					<h4><span>你的</span>疑问</h4>
					<h3>为什么要进行综合测评</h3>
					<p>用综合测评得分来判定奖学金，还有奖状。</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="logos">
	<div class="container">
		<div class="row">
			<div class="col-lg-2 col-md-4 col-sm-6 col-6 wow fadeInUp" data-wow-delay="0.05s">
				<figure>
					<img src="/static/is/images/organization/org01.jpg" alt="Image">
					<h6>活动加分</h6>
				</figure>
			</div>
			<div class="col-lg-2 col-md-4 col-sm-6 col-6 wow fadeInUp" data-wow-delay="0.10s">
				<figure>
					<img src="/static/is/images/organization/org02.jpg" alt="Image">
					<h6>学习加分</h6>
				</figure>
			</div>
			<div class="col-lg-2 col-md-4 col-sm-6 col-6 wow fadeInUp" data-wow-delay="0.15s">
				<figure>
					<img src="/static/is/images/organization/org03.jpg" alt="Image">
					<h6>自律委加分</h6>
				</figure>
			</div>
			<div class="col-lg-2 col-md-4 col-sm-6 col-6 wow fadeInUp" data-wow-delay="0.20s">
				<figure>
					<img src="/static/is/images/organization/org04.jpg" alt="Image">
					<h6>团总支加分</h6>
				</figure>
			</div>
			<div class="col-lg-2 col-md-4 col-sm-6 col-6 wow fadeInUp" data-wow-delay="0.25s">
				<figure>
					<img src="/static/is/images/organization/org05.jpg" alt="Image">
					<h6>学生会加分</h6>
				</figure>
			</div>
			<div class="col-lg-2 col-md-4 col-sm-6 col-6 wow fadeInUp" data-wow-delay="0.25s">
				<figure>
					<img src="/static/is/images/organization/org06.jpg" alt="Image">
					<h6>青协加分</h6>
				</figure>
			</div>
		</div>
	</div>
</section>

<section class="photo-gallery">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<ul class="gallery-filter">
					<li><a href="javascript:void(0);" data-filter="*" class="current">ALL</a></li>
					<li><a href="javascript:void(0);" data-filter=".one">自律委</a></li>
					<li><a href="javascript:void(0);" data-filter=".two">团总支</a></li>
					<li><a href="javascript:void(0);" data-filter=".three">学生会</a></li>
					<li><a href="javascript:void(0);" data-filter=".four">青协</a></li>
				</ul>
				<ul class="gallery">
					<li class="one">
						<a href="/static/is/images/exhibition/1.jpg" data-fancybox><img src="/static/is/images/exhibition/1.jpg" alt="Image"></a>
					</li>
					<li class="one">
						<a href="/static/is/images/exhibition/2.jpg" data-fancybox><img src="/static/is/images/exhibition/2.jpg" alt="Image"></a>
					</li>
					<li class="one">
						<a href="/static/is/images/exhibition/3.jpg" data-fancybox><img src="/static/is/images/exhibition/3.jpg" alt="Image"></a>
					</li>
					<li class="one">
						<a href="/static/is/images/exhibition/4.jpg" data-fancybox><img src="/static/is/images/exhibition/4.jpg" alt="Image"></a>
					</li>
					<li class="two">
						<a href="/static/is/images/exhibition/5.jpg" data-fancybox><img src="/static/is/images/exhibition/5.jpg" alt="Image"></a>
					</li>
					<li class="two">
						<a href="/static/is/images/exhibition/6.jpg" data-fancybox><img src="/static/is/images/exhibition/6.jpg" alt="Image"></a>
					</li>
					<li class="two">
						<a href="/static/is/images/exhibition/7.jpg" data-fancybox><img src="/static/is/images/exhibition/7.jpg" alt="Image"></a>
					</li>
					<li class="two">
						<a href="/static/is/images/exhibition/8.jpg" data-fancybox><img src="/static/is/images/exhibition/8.jpg" alt="Image"></a>
					</li>
					<li class="three">
						<a href="/static/is/images/exhibition/9.jpg" data-fancybox><img src="/static/is/images/exhibition/9.jpg" alt="Image"></a>
					</li>
					<li class="three">
						<a href="/static/is/images/exhibition/10.jpg" data-fancybox><img src="/static/is/images/exhibition/10.jpg" alt="Image"></a>
					</li>
					<li class="three">
						<a href="/static/is/images/exhibition/11.jpg" data-fancybox><img src="/static/is/images/exhibition/11.jpg" alt="Image"></a>
					</li>
					<li class="three">
						<a href="/static/is/images/exhibition/12.jpg" data-fancybox><img src="/static/is/images/exhibition/12.jpg" alt="Image"></a>
					</li>
					<li class="four">
						<a href="/static/is/images/exhibition/13.jpg" data-fancybox><img src="/static/is/images/exhibition/13.jpg" alt="Image"></a>
					</li>
					<li class="four">
						<a href="/static/is/images/exhibition/14.jpg" data-fancybox><img src="/static/is/images/exhibition/14.jpg" alt="Image"></a>
					</li>
					<li class="four">
						<a href="/static/is/images/exhibition/15.jpg" data-fancybox><img src="/static/is/images/exhibition/15.jpg" alt="Image"></a>
					</li>
					<li class="four">
						<a href="/static/is/images/exhibition/16.jpg" data-fancybox><img src="/static/is/images/exhibition/16.jpg" alt="Image"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="benefits">
	<div class="container">
		<div class="row">
			<div class="col-12 wow fadeInUp">
				<b>02</b>
				<h4><span>第二</span>课堂</h4>
				<h3>为什么选择第二课堂</h3>
			</div>
			<div class="col wow fadeInUp" data-wow-delay="0s">
				<figure>
					<img src="/static/is/images/stuff/icon_benefits01.png" alt="Image"><b></b>
				</figure>
				<h6>丰富你的知识</h6>
				<span class="odometer" data-count="10" data-status="yes">0</span>
				<span class="extra">大流行编程语言</span>
			</div>
			<div class="col wow fadeInUp" data-wow-delay="0.05s">
				<figure>
					<img src="/static/is/images/stuff/icon_benefits02.png" alt="Image"><b></b>
				</figure>
				<h6>和学长学姐交流</h6>
				<span class="odometer" data-count="10" data-status="yes">0</span>
				<span class="extra">位同辈讲师</span>
			</div>
			<div class="col wow fadeInUp" data-wow-delay="0.10s">
				<figure>
					<img src="/static/is/images/stuff/icon_benefits03.png" alt="Image"><b></b>
				</figure>
				<h6>运用到实际</h6>
				<span class="odometer" data-count="100" data-status="yes">0</span>
				<span class="extra">%运用到实际</span>
			</div>
			<div class="col wow fadeInUp" data-wow-delay="0.15s">
				<figure>
					<img src="/static/is/images/stuff/icon_benefits04.png" alt="Image"><b></b>
				</figure>
				<h6>时下前沿技术</h6>
				<span class="odometer" data-count="2019" data-status="yes">0</span>
				<span class="extra">最新技术</span>
			</div>
			<div class="col wow fadeInUp" data-wow-delay="0.20s">
				<figure>
					<img src="/static/is/images/stuff/icon_benefits05.png" alt="Image"><b></b>
				</figure>
				<h6>学部老师的支持</h6>
				<span class="odometer" data-count="2" data-status="yes">0</span>
				<span class="extra">位主管老师</span>
			</div>
		</div>
	</div>
</section>

<section class="recent-gallery">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-5 wow fadeInUp">
				<b>03</b>
				<h4><span>时光</span>信箱</h4>
				<h3>展望未来！立足现在！</h3>
				<a href="/origin/Index/timePostalIndex" class="link">SEE THE FUTURE!<i class="fas fa-caret-right"></i></a>
			</div>
			<div class="col-lg-7">
				<div class="row inner">
					<div class="col-md-4 wow fadeInUp" data-wow-delay="0s">
						<figure data-stellar-ratio="1.07">
							<a href="/static/is/images/stuff/section01.jpg" data-fancybox>
								<img src="/static/is/images/stuff/section01.jpg" alt="Image">
							</a>
						</figure>
					</div>
					<div class="col-md-4 wow fadeInUp" data-wow-delay="0.05s">
						<figure data-stellar-ratio="1.15">
							<a href="/static/is/images/stuff/section02.jpg" data-fancybox>
								<img src="/static/is/images/stuff/section02.jpg" alt="Image">
							</a>
						</figure>
					</div>
					<div class="col-md-4 wow fadeInUp" data-wow-delay="0.10s">
						<figure data-stellar-ratio="1.04">
							<a href="/static/is/images/stuff/section03.jpg" data-fancybox>
								<img src="/static/is/images/stuff/section03.jpg" alt="Image">
							</a>
						</figure>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="get-consultation" data-background="/static/is/images/stuff/section04.jpg" data-stellar-background-ratio="0.9">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-8 fadeInUp wow">
				<div class="content-box">
					<b>04</b>
					<h4><span>极客</span>联盟</h4><br/>
					<h3>源起工学！</h3>
					<p>为前沿技术的学习而生！</p>
					<a href="#">极客联盟官网<i class="fas fa-caret-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="recent-posts">
	<div class="container">
		<div class="row">
			<div class="col-12 wow fadeInUp">
				<b>05</b>
				<h4><span>联盟</span>活动展示</h4>
				<small>Activity Show Of The League</small>
			</div>
			<div class="col-lg-4 wow fadeInUp" data-wow-delay="0s">
				<div class="post-box">
					<figure>
						<img src="/static/is/images/stuff/section05.jpg" alt="Image">
					</figure>
					<span>2019年几月几号</span>
					<h6><a href="#">什么什么活动</a></h6>
					<p>活动解释</p>
				</div>
			</div>
			<div class="col-lg-4 wow fadeInUp" data-wow-delay="0.10s">
				<div class="post-box">
					<figure>
						<img src="/static/is/images/stuff/section06.jpg" alt="Image">
					</figure>
					<span>2019年几月几号</span>
					<h6><a href="#">什么什么活动</a></h6>
					<p>活动解释</p>
				</div>
			</div>
			<div class="col-lg-4 wow fadeInUp" data-wow-delay="0.20s">
				<div class="post-box">
					<figure>
						<img src="/static/is/images/stuff/section07.jpg" alt="Image">
					</figure>
					<span>2019年几月几号</span>
					<h6><a href="#">什么什么活动</a></h6>
					<p>活动解释</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="property-customization">
	<div class="container">
		<div class="row">
			<div class="col-12 wow fadeInUp">
				<b>06</b>
				<h4><span>你</span>对极客联盟感兴趣吗？</h4>
				<h3>Are you interested to Us？</h3>
			</div>
		</div>
	</div>
</section>

{include file="public/_footer" /}
</body>
</html>