<!doctype html>
<html lang="en">
<head>
{include file="public/_meta" /}
<title>综合系统-个人设置</title>

</head>
<body>
{include file="public/_header"/}
<header class="page-header" data-background="/static/is/images/banner/public.jpg" data-stellar-background-ratio="1.15">
    <div class="container">
        <h1>我懒得做了，有想改邮箱密码啥的，联系我XD</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>个人设置</a></li>
            <li class="breadcrumb-item active" aria-current="page">PS</li>
        </ol>
    </div>
</header>
<section class="faq">
    <section class="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card-body">
                        <div class="contact-form" id="active_info">

                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <aside class="sidebox">
                        <i class="fas fa-question-circle"></i>
                        <h3>有疑问？</h3>
                        <p>如果有疑问，请联系超级管理员Shane</p>
                    </aside>
                </div>
            </div>
        </div>
    </section>
</section>

{include file="public/_footer" /}
<script src="/assets/js/origin/public/active.js"></script>
</body>
</html>