<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="{$row.name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Myid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-myid" data-rule="required" class="form-control" name="row[myid]" type="number" value="{$row.myid|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510428')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510428" class="form-control" name="row[zc2018510428]" type="number" value="{$row.zc2018510428|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510440')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510440" class="form-control" name="row[zc2018510440]" type="number" value="{$row.zc2018510440|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510441')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510441" class="form-control" name="row[zc2018510441]" type="number" value="{$row.zc2018510441|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510459')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510459" class="form-control" name="row[zc2018510459]" type="number" value="{$row.zc2018510459|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510460')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510460" class="form-control" name="row[zc2018510460]" type="number" value="{$row.zc2018510460|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510466')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510466" class="form-control" name="row[zc2018510466]" type="number" value="{$row.zc2018510466|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510467')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510467" class="form-control" name="row[zc2018510467]" type="number" value="{$row.zc2018510467|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510471')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510471" class="form-control" name="row[zc2018510471]" type="number" value="{$row.zc2018510471|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510472')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510472" class="form-control" name="row[zc2018510472]" type="number" value="{$row.zc2018510472|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510474')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510474" class="form-control" name="row[zc2018510474]" type="number" value="{$row.zc2018510474|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510476')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510476" class="form-control" name="row[zc2018510476]" type="number" value="{$row.zc2018510476|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510477')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510477" class="form-control" name="row[zc2018510477]" type="number" value="{$row.zc2018510477|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510483')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510483" class="form-control" name="row[zc2018510483]" type="number" value="{$row.zc2018510483|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510485')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510485" class="form-control" name="row[zc2018510485]" type="number" value="{$row.zc2018510485|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510486')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510486" class="form-control" name="row[zc2018510486]" type="number" value="{$row.zc2018510486|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510492')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510492" class="form-control" name="row[zc2018510492]" type="number" value="{$row.zc2018510492|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510493')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510493" class="form-control" name="row[zc2018510493]" type="number" value="{$row.zc2018510493|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510497')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510497" class="form-control" name="row[zc2018510497]" type="number" value="{$row.zc2018510497|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510521')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510521" class="form-control" name="row[zc2018510521]" type="number" value="{$row.zc2018510521|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510523')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510523" class="form-control" name="row[zc2018510523]" type="number" value="{$row.zc2018510523|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510527')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510527" class="form-control" name="row[zc2018510527]" type="number" value="{$row.zc2018510527|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510530')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510530" class="form-control" name="row[zc2018510530]" type="number" value="{$row.zc2018510530|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510547')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510547" class="form-control" name="row[zc2018510547]" type="number" value="{$row.zc2018510547|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510548')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510548" class="form-control" name="row[zc2018510548]" type="number" value="{$row.zc2018510548|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510550')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510550" class="form-control" name="row[zc2018510550]" type="number" value="{$row.zc2018510550|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510561')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510561" class="form-control" name="row[zc2018510561]" type="number" value="{$row.zc2018510561|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510570')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510570" class="form-control" name="row[zc2018510570]" type="number" value="{$row.zc2018510570|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510576')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510576" class="form-control" name="row[zc2018510576]" type="number" value="{$row.zc2018510576|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510577')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510577" class="form-control" name="row[zc2018510577]" type="number" value="{$row.zc2018510577|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510581')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510581" class="form-control" name="row[zc2018510581]" type="number" value="{$row.zc2018510581|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510582')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510582" class="form-control" name="row[zc2018510582]" type="number" value="{$row.zc2018510582|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510583')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510583" class="form-control" name="row[zc2018510583]" type="number" value="{$row.zc2018510583|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510587')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510587" class="form-control" name="row[zc2018510587]" type="number" value="{$row.zc2018510587|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510598')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510598" class="form-control" name="row[zc2018510598]" type="number" value="{$row.zc2018510598|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510599')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510599" class="form-control" name="row[zc2018510599]" type="number" value="{$row.zc2018510599|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510603')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510603" class="form-control" name="row[zc2018510603]" type="number" value="{$row.zc2018510603|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510612')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510612" class="form-control" name="row[zc2018510612]" type="number" value="{$row.zc2018510612|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510619')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510619" class="form-control" name="row[zc2018510619]" type="number" value="{$row.zc2018510619|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510621')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510621" class="form-control" name="row[zc2018510621]" type="number" value="{$row.zc2018510621|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510624')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510624" class="form-control" name="row[zc2018510624]" type="number" value="{$row.zc2018510624|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510632')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510632" class="form-control" name="row[zc2018510632]" type="number" value="{$row.zc2018510632|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510635')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510635" class="form-control" name="row[zc2018510635]" type="number" value="{$row.zc2018510635|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510637')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510637" class="form-control" name="row[zc2018510637]" type="number" value="{$row.zc2018510637|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510646')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510646" class="form-control" name="row[zc2018510646]" type="number" value="{$row.zc2018510646|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510648')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510648" class="form-control" name="row[zc2018510648]" type="number" value="{$row.zc2018510648|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510650')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510650" class="form-control" name="row[zc2018510650]" type="number" value="{$row.zc2018510650|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510654')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510654" class="form-control" name="row[zc2018510654]" type="number" value="{$row.zc2018510654|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510656')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510656" class="form-control" name="row[zc2018510656]" type="number" value="{$row.zc2018510656|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510658')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510658" class="form-control" name="row[zc2018510658]" type="number" value="{$row.zc2018510658|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510663')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510663" class="form-control" name="row[zc2018510663]" type="number" value="{$row.zc2018510663|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510665')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510665" class="form-control" name="row[zc2018510665]" type="number" value="{$row.zc2018510665|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510667')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510667" class="form-control" name="row[zc2018510667]" type="number" value="{$row.zc2018510667|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510673')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510673" class="form-control" name="row[zc2018510673]" type="number" value="{$row.zc2018510673|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510675')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510675" class="form-control" name="row[zc2018510675]" type="number" value="{$row.zc2018510675|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510677')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510677" class="form-control" name="row[zc2018510677]" type="number" value="{$row.zc2018510677|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510682')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510682" class="form-control" name="row[zc2018510682]" type="number" value="{$row.zc2018510682|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510683')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510683" class="form-control" name="row[zc2018510683]" type="number" value="{$row.zc2018510683|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510687')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510687" class="form-control" name="row[zc2018510687]" type="number" value="{$row.zc2018510687|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510689')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510689" class="form-control" name="row[zc2018510689]" type="number" value="{$row.zc2018510689|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510693')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510693" class="form-control" name="row[zc2018510693]" type="number" value="{$row.zc2018510693|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510703')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510703" class="form-control" name="row[zc2018510703]" type="number" value="{$row.zc2018510703|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510712')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510712" class="form-control" name="row[zc2018510712]" type="number" value="{$row.zc2018510712|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510725')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510725" class="form-control" name="row[zc2018510725]" type="number" value="{$row.zc2018510725|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510736')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510736" class="form-control" name="row[zc2018510736]" type="number" value="{$row.zc2018510736|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510737')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510737" class="form-control" name="row[zc2018510737]" type="number" value="{$row.zc2018510737|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510738')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510738" class="form-control" name="row[zc2018510738]" type="number" value="{$row.zc2018510738|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510746')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510746" class="form-control" name="row[zc2018510746]" type="number" value="{$row.zc2018510746|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018512998')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018512998" class="form-control" name="row[zc2018512998]" type="number" value="{$row.zc2018512998|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018512962')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018512962" class="form-control" name="row[zc2018512962]" type="number" value="{$row.zc2018512962|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Final')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-final" class="form-control" name="row[final]" type="number" value="{$row.final|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
