
<!DOCTYPE HTML>
<html>
<head>
	{include file="public/_meta" /}
</head>
<body style="background-color:#fff">
<div class="wap-container">
	<div class="panel">
		<div class="panel-body">
			<form class="form form-horizontal" id="form-admin-add">
	            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">自增id</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="id">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">学生姓名</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="name">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">学号</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="student_id">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">情况/职位</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="situation">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">信息</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="message">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">刘智斌</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510431">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">霍一儒</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510432">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">赵天资</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510436">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">梁耀辉</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510439">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">肖赛</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510444">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">翟鹏程</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510453">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">江云达</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510462">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">朱敬满</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510464">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">张二达</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510475">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">廉一凡</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510481">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">石辉</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510482">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">田亦泽</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510488">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">高磊</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510489">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">李洋焘</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510495">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">申正</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510500">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">魏婷婷</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510504">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">马瑞</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510510">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">吕志萌</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510513">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">郑傲梅</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510531">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">宋莹慧</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510533">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">赵琪</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510535">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">姚越华</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510540">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">闫格</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510542">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">郝梦男</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510546">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">王宏婧</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510553">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">史程程</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510554">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">靳维华</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510559">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">刘冬梅</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510560">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">代依洋</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510563">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">张银月</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510566">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">张萌</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510584">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">白晨阳</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510589">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">李佳琦</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510590">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">白佳薇</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510595">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">常晓露</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510597">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">苗然</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510605">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">白晓璐</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510606">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">李文丽</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510613">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">刘晓莎</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510615">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">张玉晴</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510617">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">赵梦凡</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510622">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">陈敏</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510651">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">张任愿</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510659">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">郝辰宇</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510660">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">刘琛</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510669">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">郭丹</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510676">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">田晓彤</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510684">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">马辰婧</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510686">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">李淑静</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510699">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">白雯华</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510716">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">杨毅</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510720">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">刘佳澳</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510724">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">马子涵</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510726">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">王紫婷</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510727">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">张晨旭</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510730">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">方迎澳</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510731">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">王畔月</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510739">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">陈晓慧</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510740">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">冯胜怡</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510744">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">丁慧慧</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510745">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">王烨文</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510748">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">李雅娴</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510750">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">胡宗宇</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018512964">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">最终评分(平均)</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="final">
		        </div>
	        </div>
            
	            <div class="row clearfix">
					<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
						<input id='commit' class="btn btn-primary radius" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{include file="public/_footer" /}
<script src="/assets/js/admin/generate/synthesize1802/add.edit.js"></script>
</body>
</html>
