<!doctype html>
<html lang="en">
<head>
{include file="public/head" /}
<title>工学部综合系统-自律委查勤系统</title>
<script type="text/javascript">
	var seed=$.cookie();
	$().ready(function(){
		if(seed.status!=200){
			document.cookie="SDC_type=index";
			setTimeout("location.href='/IS/public/LoginSDC'");//跳转登录
		}else{
			document.cookie = "SDC_type=''; expires=Thu, 01 Jan 1970 00:00:00 GMT";
			var a=$("<h4>你好："+seed.name+"</h4>");
            a.appendTo("#a");
			var b=$("<small><a href='' id='quit'>退出登录</a></small>");
            b.appendTo("#a");
		}
	});
	$().ready(function(){
		$("#quit").click(function(){
			document.cookie="SDC_type=index";
			document.cookie = "name=; expires=Thu, 01 Jan 1970 00:00:00 GMT";
			document.cookie = "myid=; expires=Thu, 01 Jan 1970 00:00:00 GMT";
			document.cookie = "classes=; expires=Thu, 01 Jan 1970 00:00:00 GMT";
			document.cookie = "status=1; expires=Thu, 01 Jan 1970 00:00:00 GMT";
			setTimeout("location.href='/IS/public/LoginSDC'");//跳转登录
  		});
	});
	$().ready(function(){
		$.ajax({
			url:"{:url('origin/sdc/lists')}",
	  		async:true,
			dataType:'json',
			success(res){
				for(var i=0;i<res.length;i++){
					var lists=$("<option value="+res[i]+">"+res[i]+"</option>");
					lists.appendTo("#lists");
				}
			}
		});
		$("#press").click(function(){
			var lists=$("#lists").val();
			var is_judge=$("#sod").remove();
  			$.ajax({
				url:"{:url('origin/sdc/data_show')}",
	  			async:true,
				type:'get',
				dataType:'json',
				data:{
					classes:lists
				},
				success(res){
					var title=$("<h1>"+res[0].classes+"</h1>");
					title.appendTo("#title");
					var div_c=$("<div class='row' id='sod' '></div>");
            		div_c.appendTo("#c");
					for(var i=0;i<res.length;i++){
						var div=$("<div id='sod' class='col-lg-4 col-md-6'></div>");
            			div.appendTo(div_c);
						var figure=$("<figure></figure>");
            			figure.appendTo(div);
						var img=$("<img src='/IS/public/static/images/services-icon08.png' alt='Image'>");
            			img.appendTo(figure);
						var url=encodeURI("/IS/public/Absent?name="+res[i].name+"&myid="+res[i].myid+"&classes="+res[i].classes);
						var name=$("<figcaption><h5><a href='"+url+"'>"+res[i].name+res[i].myid+"</a></h5></figcaption>");
            			name.appendTo(figure);
					}
				}
			});
		});
	});
</script>
</head>
<body>
	{include file="public/nav_login" /}
	<header class="page-header" data-background="/IS/public/static/images/SDC.jpg" data-stellar-background-ratio="1.15">
		<div class="container">
			<h1>查勤系统</h1>
			<p>Check Presence</p>
		  	<ol class="breadcrumb">
    			<li class="breadcrumb-item"><a>查勤</a></li>
    			<li class="breadcrumb-item active" aria-current="page">CP</li>
  			</ol>
		</div>
	</header>
	<section class="faq">
	<section class="facilities">
	<section class="contact">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="accordion" id="accordion" role="tablist">
						<select id="lists" class="form-control rounded input-lg text-center no-border">
    					</select>
						<button id="press" type="button" class="btn btn-lg btn-success lt b-white b-2x btn-block btn-rounded">
			  				<i class="icon-arrow-right pull-right"></i>
							<span class="m-r-n-lg">选择班级</span>
						</button>
    					<div class="row" id="c">
							<div class="row" id="sod"></div>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<aside class="sidebox">
						<i class="fas fa-question-circle"></i>
						<h3>有疑问？</h3>
						<p>如果有疑问，请联系超级管理员Shane</p>
					</aside>
				</div>
			</div>
		</div>
	</section>
	</section>
	</section>
	{include file="public/foot" /}
</body>
</html>