<!doctype html>
<html lang="en">
<head>
{include file="public/head" /}
<title>工学部综合系统-自律委查勤系统</title>
<script type="text/javascript">
	var type_selecter=$.cookie('SDC_type');
	$().ready(function(){
  		$("#press").click(function(){
			var user=$("#name").val();
			var pass=$("#id").val();
  			$.ajax({
				url:"{:url('origin/sdc/login')}",
	  			async:true,
				type:'post',
				dataType:'json',
				data:{
					user:user,
					pass:pass
				},
				success(res){
					if(res.status==200){
						document.cookie="name="+res.user.name;
						document.cookie="status="+res.status;
						if(type_selecter=="index"){
							setTimeout("location.href='/IS/public/SDC'");//登录成功跳转至查勤主页面
						}else if(type_selecter=="indexpk"){
							setTimeout("location.href='/IS/public/origin_PK'");//登录成功跳转至贫困生测评界面
						}
					}else if(res.status==1){
						alert("用户名或密码错误！");
					}else if(res.status==2){
						alert("填写为空！");
					}
				}
			});
  		});
	});
</script>
</head>
<body>
	{include file="public/nav_login" /}
	<header class="page-header" data-background="/IS/public/static/images/SDC.jpg" data-stellar-background-ratio="1.15">
		<div class="container">
			<h1>登录</h1>
			<p>仅自律委内部人员使用</p>
		  	<ol class="breadcrumb">
    			<li class="breadcrumb-item"><a>登录</a></li>
    			<li class="breadcrumb-item active" aria-current="page">Login</li>
  			</ol>
		</div>
	</header>
	<section class="faq">
	<section class="contact">
		<div class="container">
			<div class="row">
        		<div class="col-lg-6">
        			<div class="contact-form">	
			 			<form id="contact" name="contact" method="post">
          					<div class="form-group">
            					<input type="text" name="name" id="name" autocomplete="off" required>
             					<span>用户名</span>
          					</div>
          					<div class="form-group"> 
            					<input type="text" name="id" id="id" autocomplete="off" required>
            					<span>密码</span>
          					</div>
          					<button id="press" type="button" class="btn btn-lg btn-success lt b-white b-2x btn-block btn-rounded">
			  					<i class="icon-arrow-right pull-right"></i>
								<span class="m-r-n-lg">登录</span>
							</button>
        				</form>
        			</div>
        		</div>
				<div class="col-lg-4">
					<aside class="sidebox">
						<i class="fas fa-question-circle"></i>
						<h3>有疑问？</h3>
						<p>如果有疑问，请联系超级管理员Shane</p>
					</aside>
				</div>
			</div>
		</div>
	</section>
	</section>
	{include file="public/foot" /}
</body>
</html>