<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="{$row.name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Myid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-myid" data-rule="required" class="form-control" name="row[myid]" type="number" value="{$row.myid|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510429')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510429" class="form-control" name="row[zc2018510429]" type="number" value="{$row.zc2018510429|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510435')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510435" class="form-control" name="row[zc2018510435]" type="number" value="{$row.zc2018510435|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510438')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510438" class="form-control" name="row[zc2018510438]" type="number" value="{$row.zc2018510438|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510447')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510447" class="form-control" name="row[zc2018510447]" type="number" value="{$row.zc2018510447|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510448')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510448" class="form-control" name="row[zc2018510448]" type="number" value="{$row.zc2018510448|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510450')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510450" class="form-control" name="row[zc2018510450]" type="number" value="{$row.zc2018510450|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510452')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510452" class="form-control" name="row[zc2018510452]" type="number" value="{$row.zc2018510452|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510456')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510456" class="form-control" name="row[zc2018510456]" type="number" value="{$row.zc2018510456|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510458')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510458" class="form-control" name="row[zc2018510458]" type="number" value="{$row.zc2018510458|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510463')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510463" class="form-control" name="row[zc2018510463]" type="number" value="{$row.zc2018510463|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510465')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510465" class="form-control" name="row[zc2018510465]" type="number" value="{$row.zc2018510465|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510469')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510469" class="form-control" name="row[zc2018510469]" type="number" value="{$row.zc2018510469|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510479')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510479" class="form-control" name="row[zc2018510479]" type="number" value="{$row.zc2018510479|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510490')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510490" class="form-control" name="row[zc2018510490]" type="number" value="{$row.zc2018510490|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510496')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510496" class="form-control" name="row[zc2018510496]" type="number" value="{$row.zc2018510496|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510498')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510498" class="form-control" name="row[zc2018510498]" type="number" value="{$row.zc2018510498|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510499')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510499" class="form-control" name="row[zc2018510499]" type="number" value="{$row.zc2018510499|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510520')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510520" class="form-control" name="row[zc2018510520]" type="number" value="{$row.zc2018510520|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510524')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510524" class="form-control" name="row[zc2018510524]" type="number" value="{$row.zc2018510524|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc201510534')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc201510534" class="form-control" name="row[zc201510534]" type="number" value="{$row.zc201510534|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510537')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510537" class="form-control" name="row[zc2018510537]" type="number" value="{$row.zc2018510537|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510541')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510541" class="form-control" name="row[zc2018510541]" type="number" value="{$row.zc2018510541|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510543')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510543" class="form-control" name="row[zc2018510543]" type="number" value="{$row.zc2018510543|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510552')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510552" class="form-control" name="row[zc2018510552]" type="number" value="{$row.zc2018510552|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510564')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510564" class="form-control" name="row[zc2018510564]" type="number" value="{$row.zc2018510564|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510568')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510568" class="form-control" name="row[zc2018510568]" type="number" value="{$row.zc2018510568|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510569')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510569" class="form-control" name="row[zc2018510569]" type="number" value="{$row.zc2018510569|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510579')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510579" class="form-control" name="row[zc2018510579]" type="number" value="{$row.zc2018510579|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510588')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510588" class="form-control" name="row[zc2018510588]" type="number" value="{$row.zc2018510588|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510591')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510591" class="form-control" name="row[zc2018510591]" type="number" value="{$row.zc2018510591|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510592')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510592" class="form-control" name="row[zc2018510592]" type="number" value="{$row.zc2018510592|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510594')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510594" class="form-control" name="row[zc2018510594]" type="number" value="{$row.zc2018510594|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510596')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510596" class="form-control" name="row[zc2018510596]" type="number" value="{$row.zc2018510596|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510600')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510600" class="form-control" name="row[zc2018510600]" type="number" value="{$row.zc2018510600|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510601')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510601" class="form-control" name="row[zc2018510601]" type="number" value="{$row.zc2018510601|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510616')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510616" class="form-control" name="row[zc2018510616]" type="number" value="{$row.zc2018510616|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510618')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510618" class="form-control" name="row[zc2018510618]" type="number" value="{$row.zc2018510618|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510620')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510620" class="form-control" name="row[zc2018510620]" type="number" value="{$row.zc2018510620|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510625')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510625" class="form-control" name="row[zc2018510625]" type="number" value="{$row.zc2018510625|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510628')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510628" class="form-control" name="row[zc2018510628]" type="number" value="{$row.zc2018510628|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510636')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510636" class="form-control" name="row[zc2018510636]" type="number" value="{$row.zc2018510636|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510640')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510640" class="form-control" name="row[zc2018510640]" type="number" value="{$row.zc2018510640|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510643')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510643" class="form-control" name="row[zc2018510643]" type="number" value="{$row.zc2018510643|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510647')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510647" class="form-control" name="row[zc2018510647]" type="number" value="{$row.zc2018510647|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510664')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510664" class="form-control" name="row[zc2018510664]" type="number" value="{$row.zc2018510664|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510666')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510666" class="form-control" name="row[zc2018510666]" type="number" value="{$row.zc2018510666|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510668')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510668" class="form-control" name="row[zc2018510668]" type="number" value="{$row.zc2018510668|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510671')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510671" class="form-control" name="row[zc2018510671]" type="number" value="{$row.zc2018510671|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510672')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510672" class="form-control" name="row[zc2018510672]" type="number" value="{$row.zc2018510672|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510679')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510679" class="form-control" name="row[zc2018510679]" type="number" value="{$row.zc2018510679|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510681')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510681" class="form-control" name="row[zc2018510681]" type="number" value="{$row.zc2018510681|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510691')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510691" class="form-control" name="row[zc2018510691]" type="number" value="{$row.zc2018510691|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510695')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510695" class="form-control" name="row[zc2018510695]" type="number" value="{$row.zc2018510695|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510696')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510696" class="form-control" name="row[zc2018510696]" type="number" value="{$row.zc2018510696|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510705')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510705" class="form-control" name="row[zc2018510705]" type="number" value="{$row.zc2018510705|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510708')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510708" class="form-control" name="row[zc2018510708]" type="number" value="{$row.zc2018510708|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510713')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510713" class="form-control" name="row[zc2018510713]" type="number" value="{$row.zc2018510713|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510721')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510721" class="form-control" name="row[zc2018510721]" type="number" value="{$row.zc2018510721|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510722')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510722" class="form-control" name="row[zc2018510722]" type="number" value="{$row.zc2018510722|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510728')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510728" class="form-control" name="row[zc2018510728]" type="number" value="{$row.zc2018510728|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510729')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510729" class="form-control" name="row[zc2018510729]" type="number" value="{$row.zc2018510729|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510752')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510752" class="form-control" name="row[zc2018510752]" type="number" value="{$row.zc2018510752|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510753')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510753" class="form-control" name="row[zc2018510753]" type="number" value="{$row.zc2018510753|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510755')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510755" class="form-control" name="row[zc2018510755]" type="number" value="{$row.zc2018510755|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Final')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-final" class="form-control" name="row[final]" type="number" value="{$row.final|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
