<!doctype html>
<html lang="en">
<head>
{include file="public/head" /}
<title>工学部综合系统-综合测评</title>
<script type="text/javascript">
	//监测是否登录
	var seed=$.cookie();
	$().ready(function(){
		if(seed.status!=100){
			//没有登录跳转
			document.cookie="login_type=indexbw";
			setTimeout("location.href='/IS/public/login_ZC'");//跳转登录
		}else{
			document.cookie = "login_type=''; expires=Thu, 01 Jan 1970 00:00:00 GMT";
			var a=$("<h4>你好："+seed.name+"</h4>");
            a.appendTo("#a");
			var b=$("<small><a href='' id='quit'>退出登录</a></small>");
            b.appendTo("#a");
		}
		$("#press").click(function(){
			var name=seed.name;
			var myid=seed.myid;
			var classes=seed.classes;
			var message=$("#message").val();
			var scripthood=$("#scripthood").val();
  			$.ajax({
				url:"{:url('origin/origin/signbw')}",
	  			async:true,
				type:'post',
				dataType:'json',
				data:{
					name:name,
					myid:myid,
					classes:classes,
					message:message,
					scripthood:scripthood
				},
				success(res){
					if(res==0){
						alert("报名成功！");
						setTimeout("location.href='/IS/public/origin_BW'");//跳转
					}else if(res==1){
						var warn=$("<div class='alert alert-warning alert-dismissible' role='alert'> <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button><strong>警告！</strong>网络原因报名失败！</div>");
            			warn.appendTo("#collapseThree");
					}else if(res==2){
						var warn=$("<div class='alert alert-warning alert-dismissible' role='alert'> <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button><strong>警告！</strong>请勿重复报名！</div>");
            			warn.appendTo("#collapseThree");
					}else if(res==3){
						var warn=$("<div class='alert alert-warning alert-dismissible' role='alert'> <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button><strong>警告！</strong>请填写完整的报名信息！</div>");
            			warn.appendTo("#collapseThree");
					}
				}
			});
  		});
	});
	$().ready(function(){
    	$().ready(function(){
			var name=seed.name;
			var myid=seed.myid;
			var classes=seed.classes;
    		$.ajax({
        		type:'post',
				async:true,
				url:"{:url('origin/origin/showbw')}",
        		data:{
					name:name,
					myid:myid,
					classes:classes
				},
				dataType:'json',
				success:function(res){
					for(var i=1;i<=res.len;i++){
						if(res.data[i][0]["zc"+myid]!=null){
							if(res.data[i][0]["type"]=="上一届"){
								var div=$("<div class='col-lg-4 col-md-6'></div>");
            					div.appendTo("#old");
								var figure=$("<figure></figure>");
            					figure.appendTo(div);
								var img=$("<img src='/IS/public/static/images/services-icon08.png' alt='Image'>");
            					img.appendTo(figure);
								var name=$("<figcaption><h5><a>"+res.data[i][0].name+"</a></h5></figcaption>");
            					name.appendTo(figure);
								var icon=$("<i class='fa fa-check text-active'></i>");
            					icon.appendTo(figure);
							}else{
								var div=$("<div class='col-lg-4 col-md-6'></div>");
            					div.appendTo("#new");
								var figure=$("<figure></figure>");
            					figure.appendTo(div);
								var img=$("<img src='/IS/public/static/images/services-icon08.png' alt='Image'>");
            					img.appendTo(figure);
								var name=$("<figcaption><h5><a>"+res.data[i][0].name+"</a></h5></figcaption>");
            					name.appendTo(figure);
								var icon=$("<i class='fa fa-check text-active'></i>");
            					icon.appendTo(figure);
							}
						}else{
							if(res.data[i][0]["type"]=="上一届"){
								var div=$("<div class='col-lg-4 col-md-6'></div>");
            					div.appendTo("#old");
								var figure=$("<figure></figure>");
            					figure.appendTo(div);
								var img=$("<img src='/IS/public/static/images/services-icon08.png' alt='Image'>");
            					img.appendTo(figure);
								var url=encodeURI("/IS/public/score_BW?id="+res.data[i][0].myid+"&type=上一届");
								var name=$("<figcaption><h5><a href='"+url+"'>"+res.data[i][0].name+"</a></h5></figcaption>");
            					name.appendTo(figure);
							}else{
								var div=$("<div class='col-lg-4 col-md-6'></div>");
            					div.appendTo("#new");
								var figure=$("<figure></figure>");
            					figure.appendTo(div);
								var img=$("<img src='/IS/public/static/images/services-icon08.png' alt='Image'>");
            					img.appendTo(figure);
								var url=encodeURI("/IS/public/score_BW?id="+res.data[i][0].myid+"&type=新一届");
								var name=$("<figcaption><h5><a href='"+url+"'>"+res.data[i][0].name+"</a></h5></figcaption>");
            					name.appendTo(figure);
							}
						}
					}
				},
      		});
		});
		$("#quit").click(function(){
			document.cookie="login_type=indexbw";
			document.cookie = "name=; expires=Thu, 01 Jan 1970 00:00:00 GMT";
			document.cookie = "myid=; expires=Thu, 01 Jan 1970 00:00:00 GMT";
			document.cookie = "classes=; expires=Thu, 01 Jan 1970 00:00:00 GMT";
			document.cookie = "status=1; expires=Thu, 01 Jan 1970 00:00:00 GMT";
			setTimeout("location.href='/IS/public/login_ZC'");//跳转登录
  		});
	});
</script>
</head>
<body>
	{include file="public/nav_login" /}
	<header class="page-header" data-background="/IS/public/static/images/ZC.jpg" data-stellar-background-ratio="1.15">
		<div class="container">
			<h1>班委测评</h1>
			<p>Class committee evaluation</p>
		  	<ol class="breadcrumb">
    			<li class="breadcrumb-item"><a>班委</a></li>
    			<li class="breadcrumb-item active" aria-current="page">测评</li>
  			</ol>
		</div>
	</header>
	<section class="faq">
	<section class="facilities">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="accordion" id="accordion" role="tablist">
						<div class="card">
							<div class="card-header" role="tab" id="headingFive">
								<a class="collapsed" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
									上一届
								</a>
							</div>
							<div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
								<div class="card-body">
									<div class="row" id="old"></div>
								</div>
							</div>
						</div>
						<div class="card">
              				<div class="card-header" role="tab" id="headingTwo">
								<a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									新一届
								</a> 
							</div>
              				<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                				<div class="card-body">
									<div class="row" id="new"></div>
								</div>
              				</div>
            			</div>
						<div class="card">
              				<div class="card-header" role="tab" id="headingThree">
								<a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									你想报名班委吗？
								</a>
							</div>
              				<div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                				<div class="card-body">
									<small>自我介绍要写一下</small><br/>
            						<textarea name="scripthood" id="scripthood" autocomplete="off" required></textarea>
									<select id="message" class="form-control rounded input-lg text-center no-border">
      									<option value="">请选择职位</option>
      									<option value="班长">班长</option>
      									<option value="团支书">团支书</option>
      									<option value="生活委">生活委</option>
      									<option value="学委">学委</option>
      									<option value="文艺委">文艺委</option>
      									<option value="纪律委">纪律委</option>
      									<option value="组织委">组织委</option>
      									<option value="宣传委">宣传委</option>
      									<option value="心理委">心理委</option>
      									<option value="组织委">组织委</option>
    								</select>
									<button id="press" type="button" class="btn btn-lg btn-success lt b-white b-2x btn-block btn-rounded">
			  							<i class="icon-arrow-right pull-right"></i>
										<span class="m-r-n-lg">报名</span>
									</button>
								</div>
              				</div>
            			</div>
					</div>
				</div>
				<div class="col-lg-4">
					<aside class="sidebox">
						<i class="fas fa-question-circle"></i>
						<h3>有疑问？</h3>
						<p>如果有疑问，请联系超级管理员Shane</p>
					</aside>
				</div>
			</div>
		</div>
	</section>
	</section>
	{include file="public/foot" /}
</body>
</html>