<!doctype html>
<html lang="en">
<head>
{include file="public/head" /}
<title>工学部综合系统-综合测评</title>
<script type="text/javascript">
	//监测是否登录
	var seed=$.cookie(); 
	$().ready(function(){
		if(seed.status!=100){
			//没有登录跳转
			document.cookie="login_type=index";
			setTimeout("location.href='/IS/public/login_ZC'");//跳转登录
		}else{
			document.cookie = "login_type=''; expires=Thu, 01 Jan 1970 00:00:00 GMT";
			var a=$("<h4>你好："+seed.name+"</h4>");
            a.appendTo("#a");
			var b=$("<small><a href='' id='quit'>退出登录</a></small>");
            b.appendTo("#a");
		}
	});
	//剥离url传值确定到单个人
	$(function(){
		var url = location.search; //获取url中"?"符后的字串  
   		var theRequest = new Object();  
		if (url.indexOf("?") != -1) {  
			var str = url.substr(1);  
			strs = str.split("&");  
      		for(var i = 0; i < strs.length; i ++) {  
				theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);  
      		}  
		}  
		var target=theRequest.id;
		var name=seed.name;
		var myid=seed.myid;
		var classes=seed.classes;
    	$().ready(function(){
    		$.ajax({
        		type:'get',
				async:true,
        		url:"{:url('origin/origin/showsingle')}",
        		data:{
					name:name,
					myid:myid,
					classes:classes,
					target:target
				},
        		dataType:'json',
        		success:function(res){ 
          			var title=$("<h1>请给"+res[0].name+"打分</h1>");
            		title.appendTo("#title");
        		},
      		});
		});
  	});
	//退出登录方法
	$().ready(function(){
		$("#quit").click(function(){
			document.cookie="login_type=index";
			document.cookie = "name=; expires=Thu, 01 Jan 1970 00:00:00 GMT";
			document.cookie = "myid=; expires=Thu, 01 Jan 1970 00:00:00 GMT";
			document.cookie = "classes=; expires=Thu, 01 Jan 1970 00:00:00 GMT";
			document.cookie = "status=1; expires=Thu, 01 Jan 1970 00:00:00 GMT";
			setTimeout("location.href='/IS/public/login_ZC'");//跳转登录
  		});
	});
	/*显示从后端返回的数据*/
	var myid=seed.myid;
	var classes=seed.classes;
	$(function(){
		var url = location.search; //获取url中"?"符后的字串  
   		var theRequest = new Object();  
		if (url.indexOf("?") != -1) {  
			var str = url.substr(1);  
			strs = str.split("&");  
      		for(var i = 0; i < strs.length; i ++) {  
				theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);  
      		}  
		}  
		var target=theRequest.id;
		var myid=seed.myid;
		var classes=seed.classes;
    	$().ready(function(){
			$("#press").click(function(){
				var attitude=$("#attitude").val();
				var discipline=$("#discipline").val();
				var active=$("#active").val();
				var morality=$("#morality").val();
				if(isNaN(attitude)){   
            		var warn=$("<div class='alert alert-warning alert-dismissible' role='alert'> <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button><strong>警告！</strong>请在学习态度中输入数字！</div>");
					warn.appendTo("#warn");
        		}else{
					if(isNaN(discipline)){
						var warn=$("<div class='alert alert-warning alert-dismissible' role='alert'> <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button><strong>警告！</strong>请在纪律中输入数字！</div>");
						warn.appendTo("#warn");
					}else{
						if(isNaN(active)){
							var warn=$("<div class='alert alert-warning alert-dismissible' role='alert'> <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button><strong>警告！</strong>请在活动积极性中输入数字！</div>");
							warn.appendTo("#warn");
						}else{
							if(isNaN(morality)){
								var warn=$("<div class='alert alert-warning alert-dismissible' role='alert'> <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button><strong>警告！</strong>请在品德中输入数字！</div>");
								warn.appendTo("#warn");
							}else{
								if(attitude<25){
									if(discipline<25){
										if(active<25){
											if(morality<25){
												var num1=parseInt(attitude);   
                								var num2=parseInt(discipline);
                								var num3=parseInt(active);
                								var num4=parseInt(morality);
												var judge=num1+num2+num3+num4;
												if(judge<70){
													var warn=$("<div class='alert alert-warning alert-dismissible' role='alert'> <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button><strong>警告！</strong>总分不能低于70！</div>");
													warn.appendTo("#warn");
												}else if(judge>100){
													var warn=$("<div class='alert alert-warning alert-dismissible' role='alert'> <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button><strong>警告！</strong>总分不能高于100！</div>");
            										warn.appendTo("#warn");
												}else{
													var mark=judge;
												}
											}else{
												var warn=$("<div class='alert alert-warning alert-dismissible' role='alert'> <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button><strong>警告！</strong>品德打分过高！</div>");
												warn.appendTo("#warn");
											}
										}else{
											var warn=$("<div class='alert alert-warning alert-dismissible' role='alert'> <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button><strong>警告！</strong>活动积极性打分过高！</div>");
            								warn.appendTo("#warn");
										}
									}else{
										var warn=$("<div class='alert alert-warning alert-dismissible' role='alert'> <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button><strong>警告！</strong>纪律打分过高！</div>");
            							warn.appendTo("#warn");
									}
								}else{
									var warn=$("<div class='alert alert-warning alert-dismissible' role='alert'> <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button><strong>警告！</strong>学习态度打分过高！</div>");
            						warn.appendTo("#warn");
								}
							}
						}
					}
				}
    			$.ajax({
        			type:'get',
					async:true,
					url:"{:url('origin/origin/score')}",
					data:{
						myid:myid,
						classes:classes,
						target:target,
						mark:mark
					},
					dataType:'json',
					success:function(res){ 
         				if(res==0){
							alert("评测成功！");
							setTimeout("location.href='/IS/public/origin'");//登录成功跳转至综合测评界面
						}else if(res==3){
							var warn=$("<div class='alert alert-warning alert-dismissible' role='alert'> <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button><strong>警告！</strong>请不要重复测评！</div>");
            				warn.appendTo("#warn");
						}else if(res==2){
							var warn=$("<div class='alert alert-warning alert-dismissible' role='alert'> <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button><strong>警告！</strong>请不要重复测评！</div>");
            				warn.appendTo("#warn");
						}
					},
				});
  			});
		});
  	});
</script>
</head>
<body>
	{include file="public/nav_login" /}
	<header class="page-header" data-background="/IS/public/static/images/ZC.jpg" data-stellar-background-ratio="1.15">
		<div class="container">
			<h1 id="title"></h1>
			<p>Mark It!</p>
		  	<ol class="breadcrumb">
    			<li class="breadcrumb-item"><a>打分</a></li>
    			<li class="breadcrumb-item active" aria-current="page">Mark</li>
  			</ol>
		</div>
	</header>
	<section class="contact">
	<section class="faq">
  		<div class="container">
    		<div class="row align-items-center">
        		<div class="col-lg-6">
        			<div class="contact-form" id="warn">	
			 			<form id="contact" name="contact" method="post">
          					<div class="form-group">
            					<input type="text" name="attitude" id="attitude" autocomplete="off" required>
             					<span>学习态度（最高打25分）</span>
          					</div>
          					<div class="form-group"> 
            					<input type="text" name="discipline" id="discipline" autocomplete="off" required>
            					<span>纪律（最高打25分）</span>
          					</div>
							<div class="form-group"> 
            					<input type="text" name="active" id="active" autocomplete="off" required>
            					<span>活动积极性（最高打25分）</span>
          					</div>
							<div class="form-group"> 
            					<input type="text" name="morality" id="morality" autocomplete="off" required>
            					<span>品德（最高打25分）</span>
          					</div>
          					<button id="press" type="button" class="btn btn-lg btn-success lt b-white b-2x btn-block btn-rounded">
			  					<i class="icon-arrow-right pull-right"></i>
								<span class="m-r-n-lg">打分</span>
							</button>
							<small>总分最低不能低于70！</small>
        				</form>
        			</div>
        		</div>
				<div class="col-lg-4">
					<aside class="sidebox">
						<i class="fas fa-question-circle"></i>
						<h3>有疑问？</h3>
						<p>如果有疑问，请联系超级管理员Shane</p>
					</aside>
				</div>
   			</div>
  		</div>
	</section>
	</section>
	{include file="public/foot" /}
</body>
</html>