<!doctype html>
<html lang="en">
<head>
{include file="public/head" /}
<title>工学部综合系统-第二课堂</title>
</head>
<body>
	{include file="public/nav_nologin" /}
	<header class="page-header" data-background="/IS/public/static/images/secondclass.jpg" data-stellar-background-ratio="1.15">
  		<div class="container">
    		<h1>选择你的课程</h1>
    		<p>Choose your course</p>
    		<ol class="breadcrumb">
      			<li class="breadcrumb-item"><a>报名</a></li>
      			<li class="breadcrumb-item active" aria-current="page">Sign</li>
    		</ol>
  		</div>
	</header>
	<section class="press-relases">
  		<div class="container">
    		<div class="row" id="frame">
				<script type="text/javascript">
					/*显示从后端返回的数据*/
					$(document).ready(function(){
  						$.ajax({
							url:"{:url('origin/secondclass/course')}",
	  						async:false,
							dataType:'json',
							success(res){
            					var data=res;
            					var rowCount=data.length;
            					for(var i=0;i<rowCount;i++){
									var limitid=res[i].limitid;
									var limitsize=res[i].limitsize;
									if(limitid>=limitsize){
										var item=$("<div class='col-lg-4 col-md-6 wow fadeInUp' data-wow-delay='0s'><figure data-stellar-ratio='1.07'></figure></div>");
            							item.appendTo("#frame");
										var link=$("<a></a>");
            							link.appendTo(item);
										var img=$("<img src='/IS/public"+data[i].imgimage+"' alt='Image'>");
            							img.appendTo(link);
										var content=$("<figcaption></figcaption>");
            							content.appendTo(item);
                						var name=$("<h5>注意：此课程已被选完</br>"+data[i].name+"</h5>");
										name.appendTo(content);
										var myname=$("<small>讲师："+data[i].myname+"</small><br/>");
										myname.appendTo(content);
										var location=$("<small>地点："+data[i].location+"</small><br/>");
										location.appendTo(content);
										var time=$("<small>时间："+data[i].time+"</small>");
										time.appendTo(content);
										var description=$("<p>"+data[i].description+"</p>");
                						description.appendTo(content);
									}else{
										var item=$("<div class='col-lg-4 col-md-6 wow fadeInUp' data-wow-delay='0s'><figure data-stellar-ratio='1.07'></figure></div>");
            							item.appendTo("#frame");
										var link=$("<a href="+data[i].link+"></a>");
            							link.appendTo(item);
										var img=$("<img src='/IS/public"+data[i].imgimage+"' alt='Image'>");
            							img.appendTo(link);
										var content=$("<figcaption></figcaption>");
            							content.appendTo(item);
                						var name=$("<h5><a href='"+data[i].link+"'>"+data[i].name+"</a></h5>");
										name.appendTo(content);
										var myname=$("<small>讲师："+data[i].myname+"</small><br/>");
										myname.appendTo(content);
										var location=$("<small>地点："+data[i].location+"</small><br/>");
										location.appendTo(content);
										var time=$("<small>时间："+data[i].time+"</small>");
										time.appendTo(content);
										var description=$("<p>"+data[i].description+"</p>");
                						description.appendTo(content);
									}
            					}
							}
						});
					});
				</script>
    		</div>
  		</div> 
	</section>	
	{include file="public/foot" /}
</body>
</html>