<!doctype html>
<html lang="en">
<head>
{include file="public/head" /}
<title>工学部综合系统-第二课堂</title>
<script type="text/javascript">
	/*显示从后端返回的数据*/
	$().ready(function(){
		$.ajax({
			url:"{:url('origin/secondclass/lecturers')}",
			async:false,
			dataType:'json',
			success(res){
				for(var i=0;i<res.length;i++){
					var figure=$("<div class='col-md-6'><figure><a href='/IS/public"+res[i]['imgimage']+"' data-fancybox><img src='/IS/public"+res[i]['imgimage']+"' alt='Image'></a><figcaption><h4>"+res[i]['name']+"</h4><small>"+res[i]['classes']+"</small><ul><li><a><i class='fab fa-linkedin-in'></i>"+res[i]['content']+"</a></li></ul></figcaption></figure></div>");
            		figure.appendTo("#a");
				}
			}
		});
	});
</script>
</head>
<body>
	{include file="public/nav_nologin" /}
	<header class="page-header" data-background="/IS/public/static/images/secondclass.jpg" data-stellar-background-ratio="1.15">
  		<div class="container">
    		<h1>讲师列表</h1>
    		<p>List of lecturers</p>
    		<ol class="breadcrumb">
      			<li class="breadcrumb-item"><a>讲师</a></li>
      			<li class="breadcrumb-item active" aria-current="page">Lecturers</li>
    		</ol>
  		</div> 
	</header>
	<section class="sales-team">
	<section class="faq">
  		<div class="container">
    		<div class="row" id="a">
				
    		</div>
  		</div>
		<div class="col-lg-12">
			<aside class="sidebox">
				<i class="fas fa-question-circle"></i>
				<h3>有疑问？</h3>
				<p>如果有疑问，请联系超级管理员Shane</p>
			</aside>
		</div>
	</section>
	</section>
	{include file="public/foot" /}
</body>
</html>
