<!doctype html>
<html lang="en">
<head>
{include file="public/head" /}
<title>工学部综合系统-第二课堂</title>
<script type="text/javascript">
	/*这里是第一个ajax
	**它将处理数据库返回的信息
	**并选择性向用户显示
	*/
	$(function(){
		var url = location.search; //获取url中"?"符后的字串  
   		var theRequest = new Object();  
		if (url.indexOf("?") != -1) {  
			var str = url.substr(1);  
			strs = str.split("&");  
      		for(var i = 0; i < strs.length; i ++) {  
				theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);  
      		}  
		}  
		var creed=theRequest.id;
			$().ready(function(){ 
    			$.ajax({
        			type:'get',
					async:true,
        			url:"{:url('origin/secondclass/singleshowclass')}",
					data:{
						id:creed
					},
        			dataType:'json',
        			success:function(res){
            			for(var i=0;i<res.length;i++){
           	 				var classes=$("<option value='"+res[i]["id"]+"'>"+res[i]["name"]+"</option>");
							classes.appendTo("#classes");
						}
        			},
      			});
    		});
  		});
	/*这里是第二个ajax
	**它将处理数据库返回的信息
	**并选择性向用户显示
	*/
	$(function(){
		var url = location.search; //获取url中"?"符后的字串  
   		var theRequest = new Object();  
		if (url.indexOf("?") != -1) {  
			var str = url.substr(1);  
			strs = str.split("&");  
      		for(var i = 0; i < strs.length; i ++) {  
				theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);  
      		}  
		}  
		var creed=theRequest.id;
    	$().ready(function(){
    		$.ajax({
        		type:'get',
				async:true,
        		url:"{:url('origin/secondclass/singleshowpro')}",
        		data:{
					id:creed
				},
        		dataType:'json',
        		success:function(res){ 
          			if(res!=null){ 
						var option=$("<option value='"+res[0].id+"'>"+res[0].name+"</option>");
						option.appendTo("#select");
						var course=$("<h1>你选择了"+res[0].name+"</h1></br><p>Choose your course</p>");
						course.appendTo("#course");
						var to=$("<a>"+res[0].name+"</a>");
						to.appendTo("#to");
						var strong=$("<strong>Sign up to find "+res[0].name+"</strong>");
						strong.appendTo("#strong");
          			}else{
            			var option=$("<option>请选择课程</option>");
						option.appendTo("#select");
          			}
        		},
      		});
		});
  	});
	/*这里是第三个ajax
	**它将向后端返回前端列表中已填好的信息
	**并又后端进行插入处理
	*/
	$(document).ready(function(){
  		$("#press").click(function(){
			var name=$("#name").val();
			var select=$("#classes").val();
			var pro=$("#select").val();
			var id=$("#id").val();
  			$.ajax({
				url:"{:url('origin/secondclass/sign')}",
	  			async:true,
				type:'post',
				dataType:'json',
				data:{
					name:name,
					select:select,
					pro:pro,
					id:id
				},
				success(res){
					if(res==0){
						alert("选课成功！");
						setTimeout("location.href='/IS/public/'");//成功界面
					}else if(res==1){
						var warn=$("<div class='alert alert-warning alert-dismissible' role='alert'> <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button><strong>警告！</strong>网络原因选课失败！</div>");
						warn.appendTo("#warn");
					}else if(res==2){
						var warn=$("<div class='alert alert-warning alert-dismissible' role='alert'> <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button><strong>警告！</strong>选课失败！姓名或学号已被注册！</div>");
						warn.appendTo("#warn");
					}else if(res==4){
						var warn=$("<div class='alert alert-warning alert-dismissible' role='alert'> <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button><strong>警告！</strong>任何一项都不能为空！</div>");
						warn.appendTo("#warn");
					}
				}
			});
  		});
	});
</script>
</head>
<body>
	{include file="public/nav_nologin" /}
	<header class="page-header" data-background="/IS/public/static/images/secondclass.jpg" data-stellar-background-ratio="1.15">
  		<div class="container" id="course">
			<!--这里放大标题-->
    		<ol class="breadcrumb">
      			<li class="breadcrumb-item"><a>Sign</a></li>
      			<li class="breadcrumb-item active" aria-current="page" id="to"></li>
    		</ol>
  		</div>
	</header>
	<script type="text/javascript">
		/*显示从后端返回的数据*/  
		$(document).ready(function(){
			var url = location.search; //获取url中"?"符后的字串  
   			var theRequest = new Object();  
			if (url.indexOf("?") != -1) {  
				var str = url.substr(1);  
				strs = str.split("&");  
      			for(var i = 0; i < strs.length; i ++) {  
					theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);  
      			}  
			}  
			var creed=theRequest.id;
  			$.ajax({
				url:"{:url('origin/secondclass/singleshowpro')}",
	  			async:false,
				dataType:'json',
				data:{
					id:creed
				},
				success(res){
					var a=$("<h2><span>"+res[0].name+"</span></h2></br><h5>Every course you see is selected!</h5>");
            		a.appendTo("#a");
					var b=$("<p>"+res[0].description+"</p>");
            		b.appendTo("#b");
					var c=$("<p>"+res[0].html+"</p>");
            		c.appendTo("#c");
					var timeline=res[0].timeline;
					var result=timeline.split(",");
					for(var i=0;i<result.length;i++){
						var d=$("<li>"+result[i]+"</li>");
            			d.appendTo("#d");
					}
				}
			});
		});
	</script>
	<!--信息-->
	<section class="about-content">
		<div class="container">
			<div class="row">
				<div class="col-12" id="a">
					<!--课程名放这里-->
				</div>
			 	<div class="col-lg-7" id="b">
					<!--课程简介放这里-->
      			</div>
      			<div class="col-lg-5" id="c">
					<!--附加内容放这里-->
      			</div>
      			<div class="col-12">
        			<div class="gallery-container">
    					<div class="swiper-wrapper">
      						<div class="swiper-slide"><img src="/IS/public/static/img/1.jpg" alt="Image"></div>
      						<div class="swiper-slide"><img src="/IS/public/static/img/2.jpg" alt="Image"></div>
      						<div class="swiper-slide"><img src="/IS/public/static/img/3.jpg" alt="Image"></div>
      						<div class="swiper-slide"><img src="/IS/public/static/img/4.jpg" alt="Image"></div>
							<div class="swiper-slide"><img src="/IS/public/static/img/5.jpg" alt="Image"></div>
      						<div class="swiper-slide"><img src="/IS/public/static/img/6.jpg" alt="Image"></div>
      						<div class="swiper-slide"><img src="/IS/public/static/img/7.jpg" alt="Image"></div>
      						<div class="swiper-slide"><img src="/IS/public/static/img/8.jpg" alt="Image"></div>
    					</div>
    					<div class="gallery-pagination"></div>
  					</div>
				</div>
       			<div class="col-md-6">
        			<h4>教学大纲</h4>
       					<ul id="d">
							<!--这里放大纲-->
        				</ul>
       			</div>
			</div>
		</div>
	</section>
	<!--/信息-->
	<!--报名-->
	<section class="faq">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="accordion" id="accordion" role="tablist">
            			<div class="card">
              				<div class="card-header" role="tab" id="headingOne"> 
								<a id="strong" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									<!--名字放这里-->
								</a> 
							</div>
              				<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                				<div class="card-body"> 
									<section class="contact">
  										<div class="container">
    										<div class="row align-items-center">
        										<div class="col-lg-6">
        											<div class="contact-form" id="warn">	
			 											<form id="contact" name="contact" method="post">
          													<div class="form-group">
            													<input type="text" name="name" id="name" autocomplete="off" required>
             													<span>请输入姓名</span>
          													</div>
															<div class="form-group">
																<select id="classes" class="form-control rounded input-lg text-center no-border">
      																<option>请选择班级</option>
    															</select>
          													</div>
          													<div class="form-group">
																<select id="select" class="form-control rounded input-lg text-center no-border">
    															</select>
          													</div>
															<div class="form-group">
            													<input type="text" name="id" id="id" autocomplete="off" required>
             													<span>请输入学号</span>
          													</div>
															<button id="press" type="button" class="btn btn-lg btn-success lt b-white b-2x btn-block btn-rounded">
			  														<i class="icon-arrow-right pull-right"></i>
																	<span class="m-r-n-lg">报名</span>
															</button>
        												</form>
        											</div>
        										</div>
   											</div> 
  										</div> 
									</section>
								</div>
              				</div>
            			</div> 
          			</div>
				</div>
				<div class="col-lg-4">
					<aside class="sidebox">
						<i class="fas fa-question-circle"></i>
						<h3>有疑问？</h3>
						<p>如果有疑问，请联系超级管理员Shane</p>
					</aside>
				</div>
			</div>
		</div>
	</section>
	<!--/报名-->
	{include file="public/foot" /}
</body>
</html>