<!doctype html>
<html lang="en">
<head>
{include file="public/head" /}
<title>工学部综合系统-第二课堂</title>
<script type="text/javascript">
	$().ready(function(){
		$.ajax({
			url:"{:url('origin/secondclass/tutorial_list')}",
	  		async:true,
			type:'post',
			dataType:'json',
			success(res){
				for(var i=0;i<res.length;i++){
					var option=$("<div class='card'><div class='card-header' role='tab' id='headingFive'><a class='collapsed' data-toggle='collapse' href='#collapseFive' aria-expanded='false' aria-controls='collapseFive'>"+res[i].title+"</a></div><div id='collapseFive' class='collapse' role='tabpanel' aria-labelledby='headingFive' data-parent='#accordion'><div class='card-body'><a href='"+res[i].link+"'>"+res[i].title+"</a></br>发布时间："+res[i].time+"</div></div></div>");
					option.appendTo("#accordion");
				}
			}
		});
	});
</script>
</head>
<body>
	{include file="public/nav_nologin" /}
	<header class="page-header" data-background="/IS/public/static/images/secondclass.jpg" data-stellar-background-ratio="1.15">
  		<div class="container">
    		<h1>选择你的课程</h1>
    		<p>Choose your tutorial</p>
    		<ol class="breadcrumb">
      			<li class="breadcrumb-item"><a>报名</a></li>
      			<li class="breadcrumb-item active" aria-current="page">Sign</li>
    		</ol>
  		</div>
	</header>
	<section class="faq">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="accordion" id="accordion" role="tablist">
						
          			</div>
				</div>
			</div>
		</div>
	</section>
	{include file="public/foot" /}
</body>
</html>