<!doctype html>
<html lang="en">
<head>
{include file="public/head" /}
<title>工学部综合系统-第二课堂</title>
<script type="text/javascript">
	$().ready(function(){
		var url = location.search; //获取url中"?"符后的字串  
   			var theRequest = new Object();  
			if (url.indexOf("?") != -1) {  
				var str = url.substr(1);  
				strs = str.split("&");  
      			for(var i = 0; i < strs.length; i ++) {  
					theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);  
      			}  
			}  
			var creed=theRequest.id;
  			$.ajax({
				url:"{:url('origin/secondclass/tutorial_info')}",
	  			async:false,
				dataType:'json',
				data:{
					id:creed
				},
				success(res){
					var title=$("<h2>"+res.list.title+"</h2>");
					title.appendTo("#title");
					var info=$("<small>发布时间："+res.list.time+"</small>");
					info.appendTo("#title");
					var txt=$("<p>"+res.list.txtcontent+"</p>");
					txt.appendTo("#txt");
					var select=$("<option value='"+res.list.title+"'>"+res.list.title+"</option>");
					select.appendTo("#select");
					for(var i=0;i<res.classes.length;i++){
           	 			var classes=$("<option value='"+res.classes[i]["id"]+"'>"+res.classes[i]["name"]+"</option>");
						classes.appendTo("#classes");
					}
				}
			});
  		$("#press").click(function(){
			var name=$("#name").val();
			var select=$("#classes").val();
			var pro=$("#select").val();
			var id=$("#id").val();
  			$.ajax({
				url:"{:url('origin/secondclass/tutorial_sign')}",
	  			async:true,
				type:'post',
				dataType:'json',
				data:{
					name:name,
					select:select,
					pro:pro,
					id:id
				},
				success(res){
					if(res==0){
						alert("报名成功！");
						setTimeout("location.href='/IS/public/'");//成功界面
					}else{
						alert("选课失败！姓名或学号已被注册！");
					}
				}
			});
  		});
	});
</script>
</head>
<body>
	{include file="public/nav_nologin" /}
	<header class="page-header" data-background="/IS/public/static/images/secondclass.jpg" data-stellar-background-ratio="1.15">
  		<div class="container" id="course">
			<!--这里放大标题-->
    		<ol class="breadcrumb">
      			<li class="breadcrumb-item"><a>Sign</a></li>
      			<li class="breadcrumb-item active" aria-current="page" id="to"></li>
    		</ol>
  		</div>
	</header>
	<!--信息-->
	<section class="about-content">
		<div class="container">
			<div class="row">
				<div class="col-12" id="title">
					<!--文章标题-->
					<!--作者-->
					<!--班级-->
					<!--时间-->
				</div>
     			<div class="col-12" id="txt">
        			<br>
       			</div>
			</div>
		</div>
	</section>
	<!--/信息-->
	<!--报名-->
	<section class="faq">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="accordion" id="accordion" role="tablist">
            			<div class="card">
              				<div class="card-header" role="tab" id="headingOne"> 
								<a id="strong" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									报名
								</a> 
							</div>
              				<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                				<div class="card-body"> 
									<section class="contact">
  										<div class="container">
    										<div class="row align-items-center">
        										<div class="col-lg-6">
        											<div class="contact-form">	
			 											<form id="contact" name="contact" method="post">
          													<div class="form-group">
            													<input type="text" name="name" id="name" autocomplete="off" required>
             													<span>请输入姓名</span>
          													</div>
															<div class="form-group">
																<select id="classes" class="form-control rounded input-lg text-center no-border">
      																<option>请选择班级</option>
    															</select>
          													</div>
          													<div class="form-group">
																<select id="select" class="form-control rounded input-lg text-center no-border">
    															</select>
          													</div>
															<div class="form-group">
            													<input type="text" name="id" id="id" autocomplete="off" required>
             													<span>请输入学号</span>
          													</div>
															<button id="press" type="button" class="btn btn-lg btn-success lt b-white b-2x btn-block btn-rounded">
			  														<i class="icon-arrow-right pull-right"></i>
																	<span class="m-r-n-lg">报名</span>
															</button>
        												</form>
        											</div>
        										</div>
   											</div> 
  										</div> 
									</section>
								</div>
              				</div>
            			</div> 
          			</div>
				</div>
				<div class="col-lg-4">
					<aside class="sidebox">
						<i class="fas fa-question-circle"></i>
						<h3>有疑问？</h3>
						<p>如果有疑问，请联系超级管理员Shane</p>
					</aside>
				</div>
			</div>
		</div>
	</section>
	<!--/报名-->
	{include file="public/foot" /}
</body>
</html>