<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="{$row.name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Myid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-myid" data-rule="required" class="form-control" name="row[myid]" type="number" value="{$row.myid|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Message')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-message" data-rule="required" class="form-control " rows="5" name="row[message]" cols="50">{$row.message|htmlentities}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510431')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510431" class="form-control" name="row[zc2018510431]" type="number" value="{$row.zc2018510431|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510432')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510432" class="form-control" name="row[zc2018510432]" type="number" value="{$row.zc2018510432|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510436')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510436" class="form-control" name="row[zc2018510436]" type="number" value="{$row.zc2018510436|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510439')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510439" class="form-control" name="row[zc2018510439]" type="number" value="{$row.zc2018510439|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510444')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510444" class="form-control" name="row[zc2018510444]" type="number" value="{$row.zc2018510444|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510453')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510453" class="form-control" name="row[zc2018510453]" type="number" value="{$row.zc2018510453|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510462')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510462" class="form-control" name="row[zc2018510462]" type="number" value="{$row.zc2018510462|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510464')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510464" class="form-control" name="row[zc2018510464]" type="number" value="{$row.zc2018510464|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510475')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510475" class="form-control" name="row[zc2018510475]" type="number" value="{$row.zc2018510475|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510481')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510481" class="form-control" name="row[zc2018510481]" type="number" value="{$row.zc2018510481|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510482')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510482" class="form-control" name="row[zc2018510482]" type="number" value="{$row.zc2018510482|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510488')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510488" class="form-control" name="row[zc2018510488]" type="number" value="{$row.zc2018510488|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510489')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510489" class="form-control" name="row[zc2018510489]" type="number" value="{$row.zc2018510489|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510495')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510495" class="form-control" name="row[zc2018510495]" type="number" value="{$row.zc2018510495|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510500')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510500" class="form-control" name="row[zc2018510500]" type="number" value="{$row.zc2018510500|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510504')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510504" class="form-control" name="row[zc2018510504]" type="number" value="{$row.zc2018510504|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510510')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510510" class="form-control" name="row[zc2018510510]" type="number" value="{$row.zc2018510510|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510513')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510513" class="form-control" name="row[zc2018510513]" type="number" value="{$row.zc2018510513|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510531')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510531" class="form-control" name="row[zc2018510531]" type="number" value="{$row.zc2018510531|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510533')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510533" class="form-control" name="row[zc2018510533]" type="number" value="{$row.zc2018510533|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510535')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510535" class="form-control" name="row[zc2018510535]" type="number" value="{$row.zc2018510535|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510540')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510540" class="form-control" name="row[zc2018510540]" type="number" value="{$row.zc2018510540|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510542')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510542" class="form-control" name="row[zc2018510542]" type="number" value="{$row.zc2018510542|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510546')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510546" class="form-control" name="row[zc2018510546]" type="number" value="{$row.zc2018510546|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510553')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510553" class="form-control" name="row[zc2018510553]" type="number" value="{$row.zc2018510553|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510554')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510554" class="form-control" name="row[zc2018510554]" type="number" value="{$row.zc2018510554|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510559')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510559" class="form-control" name="row[zc2018510559]" type="number" value="{$row.zc2018510559|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510560')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510560" class="form-control" name="row[zc2018510560]" type="number" value="{$row.zc2018510560|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510563')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510563" class="form-control" name="row[zc2018510563]" type="number" value="{$row.zc2018510563|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510566')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510566" class="form-control" name="row[zc2018510566]" type="number" value="{$row.zc2018510566|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510584')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510584" class="form-control" name="row[zc2018510584]" type="number" value="{$row.zc2018510584|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510589')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510589" class="form-control" name="row[zc2018510589]" type="number" value="{$row.zc2018510589|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510590')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510590" class="form-control" name="row[zc2018510590]" type="number" value="{$row.zc2018510590|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510595')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510595" class="form-control" name="row[zc2018510595]" type="number" value="{$row.zc2018510595|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510597')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510597" class="form-control" name="row[zc2018510597]" type="number" value="{$row.zc2018510597|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510605')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510605" class="form-control" name="row[zc2018510605]" type="number" value="{$row.zc2018510605|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510606')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510606" class="form-control" name="row[zc2018510606]" type="number" value="{$row.zc2018510606|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510613')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510613" class="form-control" name="row[zc2018510613]" type="number" value="{$row.zc2018510613|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510615')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510615" class="form-control" name="row[zc2018510615]" type="number" value="{$row.zc2018510615|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510617')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510617" class="form-control" name="row[zc2018510617]" type="number" value="{$row.zc2018510617|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510622')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510622" class="form-control" name="row[zc2018510622]" type="number" value="{$row.zc2018510622|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510651')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510651" class="form-control" name="row[zc2018510651]" type="number" value="{$row.zc2018510651|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510659')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510659" class="form-control" name="row[zc2018510659]" type="number" value="{$row.zc2018510659|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510660')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510660" class="form-control" name="row[zc2018510660]" type="number" value="{$row.zc2018510660|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510669')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510669" class="form-control" name="row[zc2018510669]" type="number" value="{$row.zc2018510669|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510676')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510676" class="form-control" name="row[zc2018510676]" type="number" value="{$row.zc2018510676|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510684')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510684" class="form-control" name="row[zc2018510684]" type="number" value="{$row.zc2018510684|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510686')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510686" class="form-control" name="row[zc2018510686]" type="number" value="{$row.zc2018510686|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510699')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510699" class="form-control" name="row[zc2018510699]" type="number" value="{$row.zc2018510699|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510716')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510716" class="form-control" name="row[zc2018510716]" type="number" value="{$row.zc2018510716|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510720')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510720" class="form-control" name="row[zc2018510720]" type="number" value="{$row.zc2018510720|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510724')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510724" class="form-control" name="row[zc2018510724]" type="number" value="{$row.zc2018510724|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510726')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510726" class="form-control" name="row[zc2018510726]" type="number" value="{$row.zc2018510726|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510727')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510727" class="form-control" name="row[zc2018510727]" type="number" value="{$row.zc2018510727|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510730')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510730" class="form-control" name="row[zc2018510730]" type="number" value="{$row.zc2018510730|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510731')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510731" class="form-control" name="row[zc2018510731]" type="number" value="{$row.zc2018510731|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510739')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510739" class="form-control" name="row[zc2018510739]" type="number" value="{$row.zc2018510739|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510740')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510740" class="form-control" name="row[zc2018510740]" type="number" value="{$row.zc2018510740|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510744')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510744" class="form-control" name="row[zc2018510744]" type="number" value="{$row.zc2018510744|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510745')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510745" class="form-control" name="row[zc2018510745]" type="number" value="{$row.zc2018510745|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510748')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510748" class="form-control" name="row[zc2018510748]" type="number" value="{$row.zc2018510748|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510750')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510750" class="form-control" name="row[zc2018510750]" type="number" value="{$row.zc2018510750|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018512964')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018512964" class="form-control" name="row[zc2018512964]" type="number" value="{$row.zc2018512964|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Final')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-final" class="form-control" name="row[final]" type="number" value="{$row.final|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
