<!doctype html>
<html lang="en">
<head>
    {include file="public/_meta" /}
    <title>工学部综合系统-通信答题</title>
</head>
<body>
{include file="public/_header"/}
<header class="page-header" data-background="/static/is/images/banner/online_judge.jpg" data-stellar-background-ratio="1.15">
    <div class="container">
        <h1 id="welcome"></h1>
        <p>Online Judge</p>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>答题</a></li>
            <li class="breadcrumb-item active" aria-current="page">OJ</li>
        </ol>
    </div>
</header>
<section class="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">

                <div class="accordion" id="accordion" role="tablist">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                这里是你做过未判的试卷：
                            </a>
                        </div>
                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <ul id="un_judged">

                                </ul>
                            </div>
                        </div>

                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingTwo">
                            <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                这里是你做过已判的试卷：
                            </a>
                        </div>
                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <ul id="judged">

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>



            <div class="col-lg-4">
                <aside class="sidebar">
                    <div class="widget">
                        <h4 class="title">全部功能</h4>
                        <ul class="categories">
                            <li><a href="/origin/Index/onlineJudgeCatalogue">试卷列表</a></li>
                            <li><a href="/origin/Index/onlineJudgePersonalPaper">做过的试卷</a></li>
                        </ul>
                    </div>

                    <div class="widget">
                        <h4 class="title">简介</h4>
                        <p>这里是通信答题：仅对17/18通信工程开放</p>
                    </div>

                    <div class="widget">
                        <h4 class="title">搜索</h4>
                        <form>
                            <input type="text" placeholder="摆设...">
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </form>
                    </div>

                    <div class="widget">
                        <h4 class="title">标签</h4>
                        <ul class="tags">
                            <li><a href="#">PHP</a></li>
                            <li><a href="#">JAVA</a></li>
                            <li><a href="#">C#</a></li>
                            <li><a href="#">PYTHON</a></li>
                            <li><a href="#">C/C++</a></li>
                            <li><a href="#">GO</a></li>
                        </ul>
                    </div>
                    </a>
                </aside>
            </div>

        </div>
    </div>
</section>

{include file="public/_footer" /}
<script src="/assets/js/origin/online_judge/personal.paper.js"></script>
</body>
</html>