<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="{$row.name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Myid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-myid" data-rule="required" class="form-control" name="row[myid]" type="number" value="{$row.myid|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Message')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-message" data-rule="required" class="form-control" name="row[message]" type="text" value="{$row.message|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Type')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-type" data-rule="required" class="form-control selectpicker" name="row[type]">
                {foreach name="typeList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.type"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510794')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510794" class="form-control" name="row[zc2018510794]" type="number" value="{$row.zc2018510794|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510795')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510795" class="form-control" name="row[zc2018510795]" type="number" value="{$row.zc2018510795|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510796')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510796" class="form-control" name="row[zc2018510796]" type="number" value="{$row.zc2018510796|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510798')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510798" class="form-control" name="row[zc2018510798]" type="number" value="{$row.zc2018510798|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510799')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510799" class="form-control" name="row[zc2018510799]" type="number" value="{$row.zc2018510799|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510800')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510800" class="form-control" name="row[zc2018510800]" type="number" value="{$row.zc2018510800|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510801')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510801" class="form-control" name="row[zc2018510801]" type="number" value="{$row.zc2018510801|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510802')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510802" class="form-control" name="row[zc2018510802]" type="number" value="{$row.zc2018510802|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510803')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510803" class="form-control" name="row[zc2018510803]" type="number" value="{$row.zc2018510803|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510804')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510804" class="form-control" name="row[zc2018510804]" type="number" value="{$row.zc2018510804|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510805')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510805" class="form-control" name="row[zc2018510805]" type="number" value="{$row.zc2018510805|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510806')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510806" class="form-control" name="row[zc2018510806]" type="number" value="{$row.zc2018510806|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510807')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510807" class="form-control" name="row[zc2018510807]" type="number" value="{$row.zc2018510807|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510808')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510808" class="form-control" name="row[zc2018510808]" type="number" value="{$row.zc2018510808|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510809')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510809" class="form-control" name="row[zc2018510809]" type="number" value="{$row.zc2018510809|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510810')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510810" class="form-control" name="row[zc2018510810]" type="number" value="{$row.zc2018510810|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510811')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510811" class="form-control" name="row[zc2018510811]" type="number" value="{$row.zc2018510811|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510812')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510812" class="form-control" name="row[zc2018510812]" type="number" value="{$row.zc2018510812|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510813')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510813" class="form-control" name="row[zc2018510813]" type="number" value="{$row.zc2018510813|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510814')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510814" class="form-control" name="row[zc2018510814]" type="number" value="{$row.zc2018510814|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510816')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510816" class="form-control" name="row[zc2018510816]" type="number" value="{$row.zc2018510816|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510817')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510817" class="form-control" name="row[zc2018510817]" type="number" value="{$row.zc2018510817|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510818')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510818" class="form-control" name="row[zc2018510818]" type="number" value="{$row.zc2018510818|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510819')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510819" class="form-control" name="row[zc2018510819]" type="number" value="{$row.zc2018510819|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510820')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510820" class="form-control" name="row[zc2018510820]" type="number" value="{$row.zc2018510820|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510821')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510821" class="form-control" name="row[zc2018510821]" type="number" value="{$row.zc2018510821|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510822')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510822" class="form-control" name="row[zc2018510822]" type="number" value="{$row.zc2018510822|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510823')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510823" class="form-control" name="row[zc2018510823]" type="number" value="{$row.zc2018510823|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510824')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510824" class="form-control" name="row[zc2018510824]" type="number" value="{$row.zc2018510824|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510825')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510825" class="form-control" name="row[zc2018510825]" type="number" value="{$row.zc2018510825|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510826')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510826" class="form-control" name="row[zc2018510826]" type="number" value="{$row.zc2018510826|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510827')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510827" class="form-control" name="row[zc2018510827]" type="number" value="{$row.zc2018510827|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510828')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510828" class="form-control" name="row[zc2018510828]" type="number" value="{$row.zc2018510828|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510829')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510829" class="form-control" name="row[zc2018510829]" type="number" value="{$row.zc2018510829|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510830')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510830" class="form-control" name="row[zc2018510830]" type="number" value="{$row.zc2018510830|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510832')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510832" class="form-control" name="row[zc2018510832]" type="number" value="{$row.zc2018510832|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510833')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510833" class="form-control" name="row[zc2018510833]" type="number" value="{$row.zc2018510833|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510834')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510834" class="form-control" name="row[zc2018510834]" type="number" value="{$row.zc2018510834|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510835')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510835" class="form-control" name="row[zc2018510835]" type="number" value="{$row.zc2018510835|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510836')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510836" class="form-control" name="row[zc2018510836]" type="number" value="{$row.zc2018510836|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510837')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510837" class="form-control" name="row[zc2018510837]" type="number" value="{$row.zc2018510837|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510838')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510838" class="form-control" name="row[zc2018510838]" type="number" value="{$row.zc2018510838|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510839')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510839" class="form-control" name="row[zc2018510839]" type="number" value="{$row.zc2018510839|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510840')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510840" class="form-control" name="row[zc2018510840]" type="number" value="{$row.zc2018510840|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510841')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510841" class="form-control" name="row[zc2018510841]" type="number" value="{$row.zc2018510841|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510842')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510842" class="form-control" name="row[zc2018510842]" type="number" value="{$row.zc2018510842|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510843')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510843" class="form-control" name="row[zc2018510843]" type="number" value="{$row.zc2018510843|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510844')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510844" class="form-control" name="row[zc2018510844]" type="number" value="{$row.zc2018510844|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510845')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510845" class="form-control" name="row[zc2018510845]" type="number" value="{$row.zc2018510845|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510846')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510846" class="form-control" name="row[zc2018510846]" type="number" value="{$row.zc2018510846|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510847')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510847" class="form-control" name="row[zc2018510847]" type="number" value="{$row.zc2018510847|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510848')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510848" class="form-control" name="row[zc2018510848]" type="number" value="{$row.zc2018510848|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510849')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510849" class="form-control" name="row[zc2018510849]" type="number" value="{$row.zc2018510849|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510851')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510851" class="form-control" name="row[zc2018510851]" type="number" value="{$row.zc2018510851|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zc2018510853')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zc2018510853" class="form-control" name="row[zc2018510853]" type="number" value="{$row.zc2018510853|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Final')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-final" class="form-control" name="row[final]" type="number" value="{$row.final|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
