
<!DOCTYPE HTML>
<html>
<head>
	{include file="public/_meta" /}
</head>
<body style="background-color:#fff">
<div class="wap-container">
	<div class="panel">
		<div class="panel-body">
			<form class="form form-horizontal" id="form-admin-add">
	            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">自增id</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="id">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">姓名</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="name">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">学号</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="student_id">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">	情况/职位</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="situation">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">信息</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="message">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">顾梓琨</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510429">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">蒋官正</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510435">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">汲恒龙</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510438">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">李家哲</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510447">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">刘恺征</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510448">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">李腾飞</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510450">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">史冰洁</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510452">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">吴生祥</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510456">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">房晓闯</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510458">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">郭紫阳</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510463">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">张一斌</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510465">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">史佳晟</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510469">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">岳恺峻</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510479">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">闫禹杉</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510490">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">刘迎</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510496">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">段非凡</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510498">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">王一凡</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510499">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">单烁</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510520">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">闫瑾</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510524">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">宋晶晶</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510534">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">王晶晶</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510537">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">李若彤</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510541">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">逯辰祺</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510543">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">戴金宏</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510552">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">马佳琪</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510564">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">赵轩艺</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510568">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">戈红玉</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510569">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">康佳璇</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510579">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">梁梦超</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510588">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">周水漫</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510591">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">李伊丹</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510592">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">周思佳</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510594">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">王硕菲</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510596">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">蔡静美</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510600">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">段亦婷</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510601">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">李欣阅</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510616">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">张怡凡</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510618">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">郑亚彤</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510620">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">纪思萌</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510625">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">刘湘</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510628">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">袁佳怡</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510636">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">彭慧敏</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510640">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">闫伊明</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510643">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">李佳琪</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510647">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">毕令琪</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510664">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">霍星潼</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510666">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">石祎玮</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510668">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">张倩</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510671">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">李晨颍</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510672">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">单梦凡</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510679">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">张颖月</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510681">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">李佳惠</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510691">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">王坦</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510695">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">张宁</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510696">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">梁家璇</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510705">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">崔苗苗</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510708">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">李晓雯</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510713">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">路谢欢</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510721">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">孟妍</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510722">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">魏明月</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510728">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">何乾乾</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510729">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">魏叶茹</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510752">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">陈涵</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510753">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">马建云</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="zc2018510755">
		        </div>
	        </div>
            
            <div class="row clearfix">
		        <label class="form-label col-xs-4 col-sm-3">最终评分(平均)</label>
		        <div class="form-controls col-xs-8 col-sm-9">
			        <input type="text" class="input-text" id="final">
		        </div>
	        </div>
            
	            <div class="row clearfix">
					<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
						<input id='commit' class="btn btn-primary radius" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{include file="public/_footer" /}
<script src="/assets/js/admin/generate/synthesize1803/add.edit.js"></script>
</body>
</html>
