<section class="footer-bar">
	<div class="container">
		<div class="inner wow fadeIn">
			<div class="row">
				<div class="col-lg-4 wow fadeInUp" data-wow-delay="0.05s">
					<figure><img src="/static/is/images/developer/2.jpg" alt="Image"></figure>
					<h3>特别感谢：刘琛</h3>
					<p>极客联盟负责人</p>
				</div>

				<div class="col-lg-4 wow fadeInUp" data-wow-delay="0.10s">
					<figure><img src="/static/is/images/developer/2.jpg" alt="Image"></figure>
					<h3>特别感谢：17测试班陈啸等同学</h3>
					<p>测试人员</p>
				</div>

				<div class="col-lg-4 wow fadeInUp" data-wow-delay="0.15s">
					<figure><img src="/static/is/images/developer/2.jpg" alt="Image"></figure>
					<h3>特别感谢：李晨颖</h3>
					<p>后台前端美化</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!--脚部-->
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 wow fadeInUp" data-wow-delay="0.05s">
				<img src="/static/is/images/logo-light.png" alt="Image" class="logo">
				<p>工学部综合系统IS</p>
			</div>
			<div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="0.10s">
				<ul class="footer-menu">
					<li><a href="/origin/Index/secondClassIndex">第二课堂</a></li>
					<li><a href="/origin/Index/synthesizeIndex?type=zong_ce">综合测评</a></li>
					<li><a href="/origin/Index/timePostalIndex">时光信箱</a></li>
					<li><a href="/origin/Index/forumIndex">论坛</a></li>
					<li><a href="#">联系我们</a></li>
				</ul>
			</div>
			<div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="0.15s">
				<ul class="footer-menu">
					<li><a href="http://huihua.hebtu.edu.cn/xxgcxb/">工学部网站</a></li>
					<li><a href="http://huihua.hebtu.edu.cn/">汇华学院网站</a></li>
					<li><a href="http://huihua.hebtu.edu.cn/xfz/">学分制系统</a></li>
					<li><a href="/origin/Index/onlineJudgeIndex">通信答题</a></li>
				</ul>
			</div>
			<div class="col-lg-4 wow fadeInUp" data-wow-delay="0.20s">
				<div class="contact-box">
					<h5>遇到问题？快联系我</h5>
					<h3>13315926692</h3>
					<p><a>1109571639@qq.com</a></p>
					<ul>
						<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
						<li><a href="#"><i class="fab fa-youtube"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-12">
					<span class="copyright">
						© 2020 汇华学院 | 极客联盟Shane
						<p>
							备案编号：
							<a href="http://www.beian.miit.gov.cn" target="_blank">网站备案号:</a>
							冀ICP备19021549号
						</p>
					</span>
			</div>
		</div>
	</div>
</footer>
<!-- JS 文件 --> 
<script src="/static/is/js/jquery.min.js"></script>
<script src="/static/is/js/jquery.cookie.js"></script>
<script src="/static/is/js/popper.min.js"></script>
<script src="/static/is/js/bootstrap.min.js"></script>
<script src="/static/is/js/swiper.min.js"></script>
<script src="/static/is/js/fancybox.min.js"></script>
<script src="/static/is/js/odometer.min.js"></script>
<script src="/static/is/js/wow.min.js"></script>
<script src="/static/is/js/text-rotater.js"></script>
<script src="/static/is/js/jquery.stellar.js"></script>
<script src="/static/is/js/isotope.min.js"></script>
<script src="/static/is/layui/layui.all.js"></script>
<script src="/static/is/js/scripts.js"></script>
<script src="/assets/js/origin/public/header.js"></script>


