<!doctype html>
<html lang="en">
<head>
{include file="public/head" /}
<title>工学部综合系统-注册</title>
<script type="text/javascript">
	var type_selecter=$.cookie('email_type');
	$().ready(function(){
  		$("#press").click(function(){
			var username=$("#username").val();
			var password=$("#password").val();
			var email=$("#email").val();
			var name=$("#name").val();
			var classes=$("#classes").val();
			var myid=$("#id").val();
  			$.ajax({
				url:"{:url('origin/forum/registerfunc')}",
	  			async:true,
				type:'post',
				dataType:'json',
				data:{
					username:username,
					password:password,
					email:email,
					name:name,
					classes:classes,
					myid:myid
				},
				success(res){
					alert(res.message);
					if(res.is_success==0){
						setTimeout("location.href='/IS/public/'");//注册成功跳转
					}
				}
			});
  		});
	});
</script>
</head>
<body>
	{include file="public/nav_login" /}
	<header class="page-header" data-background="/IS/public/static/images/time.jpg" data-stellar-background-ratio="1.15">
		<div class="container">
			<h1>注册</h1>
			<p>Register</p>
		  	<ol class="breadcrumb">
    			<li class="breadcrumb-item"><a>注册</a></li>
    			<li class="breadcrumb-item active" aria-current="page">register</li>
  			</ol>
		</div>
	</header>
	<section class="faq">
	<section class="contact">
		<div class="container">
			<div class="row">
        		<div class="col-lg-6">
        			<div class="contact-form">	
			 			<form id="contact" name="contact" method="post">
							<small>账户注册后可用于时光邮箱和论坛</small>
          					<div class="form-group">
            					<input type="text" name="username" id="username" autocomplete="off" required>
             					<span>用户名</span>
          					</div>
          					<div class="form-group"> 
            					<input type="text" name="password" id="password" autocomplete="off" required>
            					<span>密码</span>
          					</div>
							<div class="form-group"> 
            					<input type="text" name="email" id="email" autocomplete="off" required>
            					<span>邮箱</span>
          					</div>
							<div class="form-group"> 
            					<input type="text" name="name" id="name" autocomplete="off" required>
            					<span>姓名</span>
          					</div>
							<div class="form-group"> 
            					<input type="text" name="classes" id="classes" autocomplete="off" required>
            					<span>班级（年级+班级，例：18计科二班/18通信工程）</span>
          					</div>
							<div class="form-group">
								<input type="text" name="id" id="id" autocomplete="off" required>
            					<span>学号</span>
          					</div>
          					<button id="press" type="button" class="btn btn-lg btn-success lt b-white b-2x btn-block btn-rounded">
			  					<i class="icon-arrow-right pull-right"></i>
								<span class="m-r-n-lg">注册</span>
							</button>
        				</form>
        			</div>
        		</div>
				<div class="col-lg-4">
					<aside class="sidebox">
						<i class="fas fa-question-circle"></i>
						<h3>有疑问？</h3>
						<p>如果有疑问，请联系超级管理员Shane</p>
					</aside>
				</div>
			</div>
		</div>
	</section>
	</section>
	{include file="public/foot" /}
</body>
</html>