<!doctype html>
<html lang="en">
<head>
{include file="public/_meta" /}
<title>工学部综合系统-第二课堂</title>
</head>
<body>
{include file="public/_header"/}
<header class="page-header" data-background="/static/is/images/banner/second_class.jpg" data-stellar-background-ratio="1.15">
	<div class="container">
		<h1>选择你的课程</h1>
		<p>Choose your course</p>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a>报名</a></li>
			<li class="breadcrumb-item active" aria-current="page">CYC</li>
		</ol>
	</div>
</header>
<section class="sales-offices">
	<div class="container">
		<div class="row" id="course_set">



		</div>
	</div>
</section>
{include file="public/_footer" /}
<script src="/assets/js/origin/second_class/index.js"></script>
</body>
</html>